.hedi{
    width: 259px;
height: 29px;
margin-left: 80px;
margin-top: 40px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 28px;
}

.boxime{
    box-sizing: border-box;

    position: absolute;
    width: 414px;
    height: 41.02px;
 
    margin-top: 30px;
    margin-left: -65px;
    padding-left: 10px;
    /* Grey */
    
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 20px;
}

#ss{
    padding-left: 15px;
}