.maine{
    background-image: url('../assets/secBg.svg');
    height: 150vh;
    width: 100%;
}

.container{
    position: absolute;
left: 4.86%;
right: 4.86%;
top: 16.11%;
/* bottom: 3.91%; */
border-radius: 12px;
background-color: white;
height: auto;
}

.pnav{
    display: flex;
    margin-top: 25%;
    margin-left: 25px;


}

.container .head{
    width: 191px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 21px;
/* identical to box height, or 117% */


color: #212121;

margin-left: 30px;
margin-top: 30px;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.container .subhead{
    width: 100px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 21px;
/* identical to box height, or 175% */


color: #7A7A7E;

margin-left: 30px;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.container .add{
    display: flex;
flex-direction: row;
align-items: center;
padding: 5px 6px;
gap: 10px;

position: absolute;
width: 140px;
height: 40px;
left: 85%;
top: 30px;
cursor: pointer;
background: #FF9800;
border-radius: 6px;
border: none;
}

.container .table{
    position: absolute;
height: 43px;
left: 30px;
right: 30px;
top: 50px;
margin-top: 40px;

/* Grey Lite */

background: #FAFAFA;
border-radius: 6px;
display: flex;
flex-direction: row;
    /* justify-content: space-around; */
    gap: 17%;
    align-content:center;
    line-height: 46px;
    letter-spacing: 0.03em;

color: #6D6D6D;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
}

.container .table .nam{
    margin-left: 10px;  
}

.maine .card{
    margin-top: 70px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

