
.curved-gradient{
 position: absolute;
 width: 100%;
 display: flex;
 left: 0px;
  height: 80vh;
  top: 0px;
    background: linear-gradient(161.09deg, rgba(255, 236, 179, 0.995138) 1.77%, #E1BEE7 77.76%);
     mix-blend-mode: normal;
     opacity: 0.25;
     display: flex;
     border-bottom-left-radius: 560px;
     border-bottom-right-radius: 990px;
}

.navBar{
    display:flex;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;
   }
   .navBar .leftnav{
    display:flex;
    align-items: center;
    gap: 10px;
   }
   
 .name{
height: 44px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
color: #302F2F;
 }
  
   .navBar .rightnav{
    display: flex;
    flex-direction: row;
    gap:15px;
   }
   .navBar .rightnav .user{
    display: flex;
    flex:3;
    gap:15px;
    justify-content: center;
    align-items: center;
  width: 120px;
height: 45px;
left: 12px;
top: 53px;

background: #FFA000;
border-radius: 9px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
display: flex;
align-items: center;

color: #FFFFFF;
   }
   
   .navBar .rightnav .line{
left: 88.12%;
right: 11.81%;
top: 4.27%;
bottom: 90.54%;

border: 1px solid #979797;
transform: matrix(-1, 0, 0, 1, 0, 0);
   }

   .navBar .rightnav .setting{
    width: 36px;
height: 38.47px;
left: 1301px;
top: 61px;
   }