.carde{
    display: flex;
flex-direction: row;
width: 97%;
    /* justify-content: space-around; */
    gap: 13.5%;
    align-content:center;
    
    letter-spacing: 0.03em;
    height: 50px;
    background-color:antiquewhite;
    opacity: 1.2;
    
    
    line-height: 50px;
   cursor: pointer;
   
   margin-bottom: 20px;
   border-radius: 6px;
}
.carde .n{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    /* margin-top: 7px; */
}
.carde .n .male{
    
    margin-top: 7px;
}
.carde .p{
    
    margin-left: 6.6%;
}

.carde .d{
    margin-left: 11.6%;
    margin-right: 14px;
    
}





